@font-face {
  font-family: "MetaPro-Normal";
  src: local('Meta-Pro'), local('Meta-Pro-Regular'),
  url("../assets/fonts/MetaPro-Normal.otf") format("opentype"),
  url("../assets/fonts/MetaPro-Normal.ttf") format("ttf"),;
  font-weight: normal;
  font-style: normal;
}